Clarify guidance on author names - it's okay for authors to update their names

Section 4.1.1 of RFC 7322 says the following:
```
   Once the
   author has selected how their name should appear, they should use
   that display consistently in all of their documents.
```
And this sentence has been misinterpreted by some authors as discouraging them from updating their names when they submit new documents.  However, people change their names or want to change the presentation of their names, and it is okay for an author to use their updated name in their newer RFCs. 